*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
 
}


body{

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    
    
}
body{
background-color: #313131;
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



 .logo {
    max-width: 500px;
    margin-bottom: 24px;
    }

 .container-unput{
    
 max-width: 480px;
 margin: 10px 0;
 }

 .container-input span{
   
color: #ffffff;
font-size: 35px
 }


 .slider {
    margin-top: 5px;
    -webkit-appearance: none;
    width: 45%;
    height: 30px;
   
    border-radius: 50px;  
    background: #3c6f8d;
    outline: none;
    opacity: 0.9;
   
   
 }

.container-desenvolvido {
  font-size: 9px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 9px;
  
}

 .button-cta{
width: 30%;
height: 45px;
background-color: #255261;
border: 5;
border-radius: 50px;  
cursor: pointer;
margin-top: 40px;
color: #fff;
font-weight: bold;
font-size: 18px;
}

.container-password{
max-width: 480px;
margin: 14px 0;
display: flex;
align-items: center;
flex-direction: column;
cursor: pointer;
}

.title{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px; 
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #313131;
    transition: transform 0.5s;
}

.password:haver{
    transform: scale(1.05);
}

.hide{
    display: none;
  }
  
  .tooltip{
    color: #FFF;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 6px;
    background: rgb(15, 15, 15);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    text-align: center;
  }
  
  .container-password:hover .tooltip{
    bottom: 50px;
    visibility: visible;
    opacity: 1; 
  }

  .container-redes {
    width: 100px;
    align-items: center;
  
  }

  


  



 
      

 